@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap");
.gridCart {
  font-size: 18px;
  background-color: #FEFAF0;
  position: relative;
}

.titleCart {
  width: 100%;
  height: 30px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.titleCart h1 {
  color: #403F2B;
  font-size: 90px;
  text-transform: capitalize;
  text-align: center;
}

#productCart {
  width: 100%;
  height: 500px;
  margin-top: 120px;
  margin-bottom: 30px;
}
#productCart .counter {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#productCart .counter table {
  background-color: #FEFAF0;
  width: 90%;
  border-radius: 20px;
}
#productCart .counter table th {
  color: #403F2B;
  text-transform: capitalize;
}
#productCart .counter table img {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  cursor: pointer;
  transition: box-shadow 0.4s ease-in-out;
}
#productCart .counter table img:hover {
  box-shadow: 0 0 12px 3px;
}
#productCart .containerPurchase {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#productCart .containerPurchase button {
  all: unset;
  width: 242px;
  padding: 12px;
  text-align: center;
  text-transform: capitalize;
  background-color: #757548;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#productCart .containerPurchase button:hover {
  background-color: #919159;
}

.storeGrid {
  font-size: 18px;
  background-color: #FEFAF0;
  position: relative;
}

.title {
  width: 100%;
  height: 30px;
  padding: 10px;
  margin-top: 45px;
  margin-bottom: 45px;
}
.title h1 {
  color: #403F2B;
  font-size: 90px;
  text-transform: capitalize;
  text-align: center;
}

#listProducts {
  width: 80%;
  height: auto;
  padding: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(5, 3fr);
  grid-template-rows: repeat(5, 3fr);
  gap: 4px;
}
#listProducts div {
  width: 300px;
  height: 450px;
  margin-top: 40px;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#listProducts div img {
  width: 300px;
  height: 450px;
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#listProducts div img:hover {
  width: 290px;
  height: 440px;
  box-shadow: 0 0 7px 7px rgb(104, 104, 104);
}
#listProducts div h6 {
  width: auto;
  height: auto;
  color: #403F2B;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
#listProducts div span {
  color: #403F2B;
  font-size: 18px;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hedvig Letters Serif", serif;
}

.gridFather {
  font-size: 18px;
  background-color: #FEFAF0;
  position: relative;
}

.navbarHeader {
  width: 100%;
  height: 2.5rem;
}
.navbarHeader nav {
  background-color: #fff7e4;
  text-transform: capitalize;
  font-size: 1.25rem;
}

.buttonText {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  background-color: #403F2B;
  border-radius: 100px;
  border: 1px solid #E8E59B;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.buttonText:hover {
  width: 90px;
  height: 90px;
  box-shadow: inset 0 0 12px 12px;
}
.buttonText img {
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}
.buttonText img:hover {
  width: 60px;
  height: 60px;
}

.main {
  width: 100%;
  height: 37.5rem;
  padding: 0;
  background-image: url("../img/picture-main.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.main div {
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  padding-top: 6.875rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.356);
}
.main div h1 {
  color: #FFFDC3;
  text-transform: capitalize;
  text-align: center;
  font-size: 15rem;
}
.main div h2 {
  text-align: center;
  color: white;
  text-transform: capitalize;
}
.main div .containerButton {
  all: unset;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}
.main div .containerButton button {
  all: unset;
  background-color: #FEFAF0;
  width: 110px;
  padding: 14px;
  text-align: center;
  text-transform: capitalize;
  color: #686654;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.main div .containerButton button:hover {
  background-color: #403F2B;
  color: white;
  box-shadow: inset 0 0 7px 5px #29281b;
}
.main div .containerButton button a {
  all: unset;
}

.titleNewProducts {
  width: 1005;
  height: 1.25rem;
  padding: 1.25rem;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}
.titleNewProducts h3 {
  text-align: center;
  color: #403F2B;
  text-transform: capitalize;
  font-size: 1.75rem;
}

.newIn {
  width: 100%;
  height: 18.75rem;
  padding: 1.875rem;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.newIn div img {
  object-fit: contain;
  border-radius: 1.25rem;
  margin-bottom: 0.625rem;
  cursor: pointer;
}
.newIn div h5 {
  text-transform: capitalize;
  text-align: center;
}
.newIn div h6 {
  text-transform: capitalize;
  text-align: center;
}
.newIn div span {
  font-size: 1.125rem;
  text-align: center;
  color: #838070;
}
.newIn div .purchase {
  all: unset;
  background-color: #403F2B;
  width: 110px;
  padding: 14px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 7px;
}
.newIn div .purchase:hover {
  background-color: #C4C197;
  color: #4B4A33;
  box-shadow: inset 0 0 7px 5px #29281b;
}

.cartError {
  width: 50%;
  height: 400px;
  padding: 60px;
  border-radius: 40px;
  border: 2px solid red;
  outline: darkred;
  box-shadow: inset 0 0 50px 10px darkred;
}
.cartError div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 35px;
}
.cartError div img {
  width: 200px;
  height: 200px;
}
.cartError h5 {
  text-align: center;
  font-size: 20px;
  color: black;
}

.article {
  width: 100%;
  height: 38.4375rem;
  padding: 3.75rem;
  background-color: #C4C197;
  margin-top: 3.75rem;
  margin-bottom: 1.875rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.article .containerElements {
  width: 441px;
  height: auto;
}
.article .containerElements h2 {
  color: #403F2B;
  font-size: 3.4375rem;
  text-transform: capitalize;
}
.article .containerElements p {
  color: #7D7B5D;
  font-size: 1.0625rem;
}
.article .containerElements button {
  all: unset;
  background-color: #403F2B;
  width: 110px;
  padding: 14px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.article .containerElements button:hover {
  background-color: #C4C197;
  color: #4B4A33;
  box-shadow: inset 0 0 7px 5px #29281b;
}
.article .containerIA {
  width: 441px;
  height: auto;
}
.article .containerIA img {
  border-radius: 1.375rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.article .containerIA img:hover {
  box-shadow: 0 0 12px 16px #7D7B5D;
}

.tititleCollection {
  width: 100%;
  height: 1.875rem;
  margin-top: 2.1875rem;
  margin-bottom: 2.1875rem;
}
.tititleCollection h2 {
  text-align: center;
  font-size: 1.875rem;
  color: #403F2B;
  text-transform: capitalize;
}

.categoryProducts {
  width: 100%;
  height: auto;
  margin-bottom: 2.5rem;
}
.categoryProducts .div-Center {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-items: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 150px;
}
.categoryProducts .div-Center .n1 {
  background-image: url("../img/portrait2.png");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.categoryProducts .div-Center .n1:hover {
  background-size: 700px;
}
.categoryProducts .div-Center .n2 {
  background-image: url("../img/portrait3.png");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.categoryProducts .div-Center .n2:hover {
  background-size: 700px;
}
.categoryProducts .div-Center .n3 {
  background-image: url("../img/portrait4.png");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.categoryProducts .div-Center .n3:hover {
  background-size: 700px;
}
.categoryProducts .div-Center .containerCategory {
  width: 500px;
  height: 500px;
  border-radius: 1.875rem;
  margin-right: 30px;
}
.categoryProducts .div-Center .containerCategory .subContainerCategory {
  width: 500px;
  height: 500px;
  border-radius: 1.875rem;
  background-color: rgba(0, 0, 0, 0.356);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.categoryProducts .div-Center .containerCategory .subContainerCategory h4 {
  color: #FFFDC3;
  text-transform: capitalize;
  font-size: 3.375rem;
}
.categoryProducts .div-Center .containerCategory .subContainerCategory h6 {
  color: white;
  text-transform: capitalize;
  font-size: 1.0625rem;
}

.missions {
  width: 100%;
  height: 56.25rem;
  padding: 0.9375rem;
  margin-bottom: 120px;
  background-color: #DDDDCC;
}
.missions #missionTitle {
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 3.75rem;
  color: #403F2B;
  text-transform: capitalize;
  margin-bottom: 70px;
}
.missions h3 {
  margin-bottom: 40px;
  text-align: center;
  color: #403F2B;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 1px;
}
.missions .containerItems {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.missions .containerItems .items {
  width: 150px;
  height: 150px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.missions .containerItems .items img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.missions .containerItems .items p {
  text-align: center;
  text-transform: capitalize;
  color: #403F2B;
}
.missions .containerParagraphM {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.missions .containerParagraphM p {
  width: 1300px;
  height: 440px;
  color: #403F2B;
  font-size: 14px;
  text-align: justify;
}
.missions .containreButtonM {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.missions .containreButtonM button {
  all: unset;
  background-color: #403F2B;
  width: 110px;
  padding: 14px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.missions .containreButtonM button:hover {
  background-color: #C4C197;
  color: #4B4A33;
  box-shadow: inset 0 0 7px 5px #29281b;
}

.importantAnunce {
  width: 90%;
  height: 950px;
  padding-top: 200px;
  margin-top: 80px;
  margin-bottom: 80px;
  background-image: url("../img/PersonInGarden.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1600px;
  cursor: pointer;
}
.importantAnunce:hover {
  background-size: 1800px;
}
.importantAnunce h2 {
  text-align: center;
  font-size: 75px;
  color: white;
}
.importantAnunce h3 {
  font-size: 152px;
  text-align: center;
  color: #FFFDC3;
  text-transform: capitalize;
}
.importantAnunce .containerButtonIM {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.importantAnunce .containerButtonIM button {
  all: unset;
  background-color: #FEFAF0;
  width: 110px;
  padding: 14px;
  text-align: center;
  text-transform: capitalize;
  color: #686654;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.importantAnunce .containerButtonIM button:hover {
  background-color: #403F2B;
  color: white;
  box-shadow: inset 0 0 7px 5px #29281b;
}

.footer {
  width: 100%;
  height: 1400px;
  padding: 30px;
  background-color: #E8E59B;
}
.footer .section1 {
  width: 100%;
  height: auto;
}
.footer .section1 h3 {
  text-align: center;
  text-transform: capitalize;
  font-size: 33px;
  color: #403F2B;
  margin-bottom: 40px;
}
.footer .section1 h4 {
  text-align: center;
  text-transform: capitalize;
  color: #403F2B;
  font-size: 55px;
  margin-bottom: 44px;
}
.footer .section1 .containerPfS1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 60px;
}
.footer .section1 .containerPfS1 .containerPS2 {
  width: 300px;
  height: 300px;
  border-radius: 40px;
  margin-right: 20px;
  cursor: pointer;
}
.footer .section1 .containerPfS1 .containerPS2 img {
  width: 300px;
  height: 300px;
  border-radius: 40px;
}
.footer .section2 {
  column-width: 100%;
  height: 460px;
  padding: 60px;
  display: flex;
  justify-content: space-around;
}
.footer .section2 .containerS2N1 {
  width: 700px;
  height: 400px;
}
.footer .section2 .containerS2N1 h3 {
  text-align: left;
  font-size: 50px;
  text-transform: capitalize;
  color: #403F2B;
}
.footer .section2 .containerS2N1 p {
  text-align: left;
  color: #403F2B;
  font-size: 15px;
}
.footer .section2 .containerS2N1 form {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .section2 .containerS2N1 form label {
  width: 400px;
  text-align: left;
  color: #403F2B;
  text-transform: capitalize;
  font-size: 16px;
}
.footer .section2 .containerS2N1 form .inputE {
  all: unset;
  width: 400px;
  height: 30px;
  padding: 20px;
  color: #403F2B;
  border-bottom: 3px solid #403F2B;
}
.footer .section2 .containerS2N1 form #submit {
  all: unset;
  background-color: #FEFAF0;
  width: 110px;
  padding: 14px;
  text-align: center;
  text-transform: capitalize;
  color: #686654;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 50px;
}
.footer .section2 .containerS2N1 form #submit:hover {
  background-color: #403F2B;
  color: white;
  box-shadow: inset 0 0 7px 5px #29281b;
}
.footer .containerS2N2 nav ul li {
  margin-top: 30px;
}
.footer .containerS2N2 nav ul li .linkFoo {
  all: unset;
  color: #403F2B;
  text-transform: capitalize;
  font-size: 19px;
}
.footer .section3 {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .section3 .containerNavFoo2 ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .section3 .containerNavFoo2 ul li {
  margin-top: 30px;
  margin-right: 20px;
}
.footer .section3 .containerNavFoo2 ul li a {
  all: unset;
  cursor: pointer;
  color: #403F2B;
  text-transform: capitalize;
  font-size: 19px;
}

/*# sourceMappingURL=style.css.map */
